#top-border {
  background: rgb(43, 0, 139);
  background: linear-gradient(
    16deg,
    rgba(43, 0, 139, 1) 21%,
    rgba(17, 10, 92, 0.9318102240896359) 53%
  );

  height: 16px;
  width: 110%;
  margin-left: -8px;
  margin-top: -8px;
}

#outsidecontainer {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 3rem;
  color: #240e84;
}

h3 {
  font-size: 1.6rem;
  color: black;
  line-height: 1.2;
  font-weight: 400;
  width: 200px;
}

#subTitle {
  width: 26em;
  max-width: 100%;
}

textarea {
  max-width: 100%;
  margin: 24px 0 24px 0;
  padding: 24px;

  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0.3px;

  border: 1px solid #240e84;
  border-bottom: 2px solid #1e1f63;
}

h1,
h3,
#number,
p,
ul,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
  font-size: 1.4rem;
  line-height: 1.45;
  color: black;
}

ul {
  font-size: 1.4rem;
}

#number {
  display: inline;
  font-size: 2rem;
  font-weight: bold;
  /* font-feature-settings: "tnum"; */
  /* font-variant-numeric: slashed-zero; enable */
  /* font-feature-settings: "zero" on; */
}

.nicezero {
  /* font-feature-settings: "zero" 1;
  font-variant-numeric: slashed-zero; 
  font-feature-settings: "zero" on; 
  */
  font-feature-settings: "tnum";
}
